%table.email-table
  %tbody
    %tr.header-row
      %td
        %h1
          Hello #{@user.name}!
    %tr.body-row
      %td
        %p This is the report of beers that you drank during the last week.
        %p #{@user.count_beers_by_week} beer(s)
