- if notice
  #card-alert.card.orange.lighten-5
    .card-content.orange-text
      = notice
    %button.close.orange-text{"aria-label" => "Close", "data-dismiss" => "notice", :type => "button", :onclick => "this.parentElement.style.display='none';" }
      %span{"aria-hidden" => "true"} ×
- if alert
  #card-alert.card.red.lighten-5
    .card-content.red-text
      = alert
    %button.close.red-text{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button", :onclick => "this.parentElement.style.display='none';"}
      %span{"aria-hidden" => "true"} ×
