html,
body,
main {
  height: 100%;
}

#card-alert button {
  background: none;
  border: none;
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 20px;
  color: #fff;
}

.layout-background {
  background: image-url("background.png");
}


.layout-padding {
  padding-left: 250px;
}

.page-layout {
  position: relative;
  width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center center;
}

.page-title {
  margin: 0;
}


@media only screen and (max-width: 992px) {
  .layout-padding {
    padding-left: 0;
  }
}

