html,
body,
main {
  height: 100%;
}

body {
  background: image-url("background.png");

}

#card-alert button {
  background: none;
  border: none;
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 20px;
  color: #fff;
}

.layout-padding {
  padding-left: 250px;
}


@media only screen and (max-width: 992px) {
  .layout-padding {
    padding-left: 0;
  }
}

