#profilepic {
  text-align: center;
}

.go a:before,
.go a:after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.go a:before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translate(20px);
  -moz-transform: translate(20px);
  transform: translate(20px);
}

.go a:after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translate(-20px);
  -moz-transform: translate(-20px);
  transform: translate(-20px);
}

.go a:hover:before,
.go a:hover:after,
.go a:focus:before,
.go a:focus:after {
  opacity: 1;
  -webkit-transform: translate(0px);
  -moz-transform: translate(0px);
  transform: translate(0px);
}



