#nav-mobile {
  li {
    margin-left: 20px;
  }
}

#profilepic {
  text-align: center;
}

.go a:before,
.go a:after {
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  display: inline-block;
  opacity: 0;
  transition: transform 0.3s, opacity 0.2s;
}

.go a:before {
  -moz-transform: translate(20px);
  -webkit-transform: translate(20px);
  content: '[';
  margin-right: 10px;
  transform: translate(20px);
}

.go a:after {
  -moz-transform: translate(-20px);
  -webkit-transform: translate(-20px);
  content: ']';
  margin-left: 10px;
  transform: translate(-20px);
}

.go a:hover:before,
.go a:hover:after,
.go a:focus:before,
.go a:focus:after {
  -moz-transform: translate(0px);
  -webkit-transform: translate(0px);
  opacity: 1;
  transform: translate(0px);
}

.nav-wrapper {
  padding-left: 10px;
}
